---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import img1 from '../images/card1.jpeg';
---

<Layout title="Challegue1">
	<main class="mx-auto relative w-max px-5 py-5">
		<Card />
	</main>
</Layout>
