---
import '@fontsource-variable/inter';
import Part1 from './Part1.astro';
import Part2 from './Part2.astro';
import Part3 from './Part3.astro';
import Part4 from './Part4.astro';
import img1 from '../images/card1.jpeg';

---
<div class="bg-cgrey py-5 px-10 mx-auto rounded-lg flex flex-col justify-center items-center gap-4 font-inter w-96">
    <Part1 href={img1.src}/>
    <Part2 name="Jessica Randall" place="London, United Kingdown"/>
    <Part3 pharaf='"Front-end developer and avid reader"' />
    <Part4 lname1="GitHub" lname2="Frontend Mentor" lname3="LinkedIn" lname4="Twitter" lname5='Instagram' />
</div>